.header {
  position: sticky;
  margin: 0 auto;
  top: 0;
  height: 70px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  z-index: 20;
}

.logo {
  margin: 0 auto;
  padding-left: 20px;
  color: rgb(126, 165, 254);
  width: 1200px;
  font-size: 30px;
  font-weight: bold;
}
