$mobile: 620px;

@mixin listElem {
  margin-right: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
  @media (max-width: $mobile) {
    padding: 10px 5px 0px 5px;
    margin: 0 auto;
  }
}

.content {
  max-width: 1200px;
  padding: 10px;
}

.menu {
  display: flex;
  margin: 20px 0px 20px 0px;
  @media (max-width: $mobile) {
    flex-wrap: wrap;
  }
}

.listElem {
  @include listElem;
}

.activeListElem {
  @include listElem;
  color: rgb(123, 138, 168);
  &:after {
    margin-top: 20px;
    content: '';
    display: block;
    background-color: rgb(123, 138, 168);
    height: 2px;
    @media (max-width: $mobile) {
      display: none;
    }
  }
}
