$mobile: 500px;

.contentCard {
  max-width: 1200px;
  min-height: 600px;
  padding: 10px;
}

.upColumn {
  display: flex;
  justify-content: space-between;
  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.column {
  color: rgb(123, 138, 168);
  width: 33.3%;
  min-height: 150px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  @media (max-width: $mobile) {
    margin: 0 auto;
    width: 300px;
    padding: 10px;
  }
  @media (max-width: 320px) {
    max-width: 200px;
  }
}

.titleColumn {
  margin: 30px 0px 0px 40px;
}

.textColumn {
  margin: 30px 0px 0px 40px;
  color: black;
  font-weight: bold;
}

.downColumn {
  overflow: hidden;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
  }
}

.leftDownColumn {
  border-radius: 5px;
  width: 49%;
  min-height: 250px;
  background: rgb(255, 255, 255);
  @media (max-width: $mobile) {
    width: 100%;
  }
}

.titleDownColumn {
  margin: 20px 0px 0px 20px;
  font-weight: normal;
}

.infoDownColumn {
  display: flex;
  margin-top: 20px;
  border-top: 1px solid rgb(211, 211, 211);
}

.contactList {
  margin-top: 30px;
  color: rgb(67, 86, 125);
  font-weight: bold;
  width: 50%;
}

.websiteInfo {
  margin: 30px 0px;
  word-break: break-all;
}

.WebLinkRow {
  padding-top: 10px;
}

.webLink {
  transition: all 0.1s linear;
  cursor: pointer;
  &:hover {
    color: rgb(0, 0, 74);
  }
}

.contact {
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    color: rgb(0, 0, 74);
  }
}

.contactRow {
  display: flex;
  align-items: center;
}

.contactName {
  padding-left: 5px;
}

.mapContainer {
  border-radius: 5px;
  width: 49%;
  min-height: 250px;
  background: rgb(255, 255, 255);
  @media (max-width: $mobile) {
    width: 100%;
  }
}
