$tablet: 730px;
$mobile: 560px;

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.companiesCard {
  min-height: 400px;
  max-width: 1000px;
  border: 1px solid rgb(191, 193, 197);
  margin: 20px auto;
  padding: 0px 10px 0px 10px;
  border-radius: 15px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
  }
}

.cardMainInfo {
  height: 150px;
  margin: 30px 0px 0px 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.cardPhoto {
  width: 100px;
  height: 100px;
  background-color: rgb(123, 138, 168);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  overflow: hidden;
}

.cardTitle {
  margin-left: 20px;
  cursor: pointer;
}

.cardSecondInfo {
  margin-left: 30px;
  min-height: 210px;
  display: flex;
  justify-content: space-between;
  @media (max-width: $tablet) {
    font-size: 12px;
    margin-left: 10px;
  }
  @media (max-width: $mobile) {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.columnEltext {
  padding-left: 5px;
  font-weight: bold;
  color: black;
}

.leftColumn {
  padding: 10px;
  width: 33.333%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: $mobile) {
    width: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.columnEl {
  padding: 5px;
  color: rgba(4, 169, 175, 1);
}

.statusActive {
  padding: 10px;
  background: rgb(94, 255, 0);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  @media (max-width: $mobile) {
    padding: 3px;
    border-radius: 5px;
  }
}

.statusDeleted {
  padding: 10px;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  @media (max-width: $mobile) {
    padding: 3px;
    border-radius: 5px;
  }
}

.midlColumn {
  padding: 10px;
  width: 33.333%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: $mobile) {
    width: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.rightColumn {
  padding: 10px;
  width: 33.333%;
  display: flex;
  @media (max-width: $mobile) {
    width: 100%;
    font-size: 12px;
  }
}

.rightColumnTitle {
  color: rgba(4, 169, 175, 1);
}

.rightColumnList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  @media (max-width: $mobile) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.contactActive {
  cursor: pointer;
  transition: all 0.1s linear;
  position: relative;
  @media (max-width: $mobile) {
    padding-right: 100px;
    position: relative;
    .contactName {
      padding-top: 5px;
    }
  }
}

.contactHidden {
  cursor: not-allowed;
  opacity: 0.2;
  position: relative;
  @media (max-width: $mobile) {
    padding-right: 100px;
    position: relative;
    .contactName {
      padding-top: 5px;
    }
  }
}

.contactName {
  max-width: 150px;
  position: absolute;
  margin-left: 5px;
  font-weight: bold;
  color: black;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: rgb(79, 79, 79);
  }
  @media (max-width: $mobile) {
    position: absolute;
  }
}

.founders {
  margin-left: 20px;
  max-width: 950px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 50px;
  border-top: 1px solid rgb(191, 193, 197);
  color: rgb(84, 93, 111);
  @media (max-width: $mobile) {
    margin-left: 10px;
    flex-wrap: wrap;
  }
}

.founder {
  margin-left: 10px;
  font-weight: bold;
  color: black;
  @media (max-width: $mobile) {
    margin-left: 3px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 2px;
  }
}

.foundersNone {
  display: none;
}
