.wrapper {
  background: rgb(251, 251, 251);
  background: linear-gradient(
    0deg,
    rgba(251, 251, 251, 1) 46%,
    rgba(223, 230, 247, 1) 100%
  );
  min-height: 86vh;
}

.pagination {
  display: flex;
  justify-content: center;
}

.numberOfCompanies {
  font-size: 20px;
  span {
    margin-left: 10px;
    font-weight: bold;
  }
}

.homeText {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 0px 10px 0px 10px;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  .numberOfCompanies {
    padding-left: 20px;
  }
}
