.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(251, 251, 251);
  background: linear-gradient(
    0deg,
    rgba(251, 251, 251, 1) 46%,
    rgba(223, 230, 247, 1) 100%
  );
  min-height: 86vh;
}

.pagination {
  display: flex;
  justify-content: center;
}

.numberOfCompanies {
  font-size: 20px;
  span {
    margin-left: 10px;
    font-weight: bold;
  }
}
